<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='pagination.css') }}">
    <script src="{{ url_for('static',filename='pagination.min.js') }}"></script>

    <title>Align words</title>

    <style>
        hw {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="modal fade" id="loadingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Przetwarzam podświetlanie... Proszę czekać!
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="m-5">Podświetlane wyrazy</h1>
    <a href="/">Powrót</a>
    <form method="post" action="/highlight">
        <div class="card p-3">
            <input type="submit" class="btn btn-success form-control" value="Ustaw" data-bs-toggle="modal"
                   data-bs-target="#loadingModal">
            <div class="row mt-3">
                <p class="col text-center">EN</p>
                <p class="col text-center">PL</p>
            </div>
            <div class="row">
                <textarea id="wordlist_en" name="wordlist_en" class="col m-2" rows="20">{{ wordlist_en }}</textarea>
                <textarea id="wordlist_pl" name="wordlist_pl" class="col m-2" rows="20">{{ wordlist_pl }}</textarea>
            </div>
        </div>
    </form>
    <div class="card p-3 mt-2">
        <div id="container"></div>
        <div id="pagination"></div>
    </div>
</div>
<script>
    let data ={{ texts|tojson }};
    $('#pagination').pagination({
        dataSource: data,
        pageSize: 20,
        showGoInput: true,
        showGoButton: true,
        callback: function (data, pagination) {
            $('#container').empty();
            $.each(data, function (i, e) {
                let p = $('#container').append($('<p></p>'));
                e.forEach(function (e, i) {
                    if (e[1]) {
                        p.append($('<hw>' + e[0] + ' </hw>'));
                    } else {
                        p.append(e[0] + ' ');
                    }
                });
            });
        }
    });
</script>
</body>
</html>