<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-icons/font/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='pagination.css') }}">
    <script src="{{ url_for('static',filename='pagination.min.js') }}"></script>

    <title>Align words</title>
    <style>
        .word {
            font-weight: bold;
            padding: 3px;
        }

        .highlight {
            background-color: yellow;
        }

        .hicell {
            background-color: lightgray;
        }

        .wordhi {
            color: red;
        }

        .edit {
            color: hotpink;
            font-style: italic;
            font-weight: bold;
        }

        td {
            width: 3em;
            text-align: center;
        }

        table {
            margin: auto;
        }
    </style>

</head>
<body>
<script>
    function hover(word, top) {
        let table = word.parentNode.parentNode.parentNode.getElementsByTagName('tbody')[0];
        if (top) {
            let words = word.parentNode.getElementsByClassName('word');
            let hover_word = -1;
            for (let i = 0; i < words.length; i++) {
                if (words[i] === word) {
                    words[i].classList.add('highlight');
                    hover_word = i;
                } else {
                    words[i].classList.remove('highlight');
                }
            }
            if (hover_word < 0)
                return;
            let rows = table.getElementsByTagName('tr');
            for (let r = 0; r < rows.length; r++) {
                let cbs = rows[r].getElementsByTagName('input');
                if (cbs[hover_word].checked) {
                    rows[r].getElementsByClassName('word')[0].classList.add('highlight');
                } else {
                    rows[r].getElementsByClassName('word')[0].classList.remove('highlight');
                }
            }
        } else {
            let rows = table.getElementsByTagName('tr');
            let topwords = word.parentNode.parentNode.parentNode.getElementsByTagName('thead')[0].getElementsByClassName('word');
            for (let r = 0; r < rows.length; r++) {
                let w = rows[r].getElementsByClassName('word')[0];
                if (w === word) {
                    w.classList.add('highlight');
                    let cbs = rows[r].getElementsByTagName('input');
                    for (let i = 0; i < cbs.length; i++) {
                        if (cbs[i].checked) {
                            topwords[i].classList.add('highlight');
                        } else {
                            topwords[i].classList.remove('highlight');
                        }
                    }
                } else {
                    w.classList.remove('highlight');
                }
            }
        }

    }

    function save(sent_idx) {
        $('#saved').addClass('d-none');
        $('#saving').removeClass('d-none');
        let table = document.getElementById('sent' + sent_idx).getElementsByTagName('tbody')[0];
        let rows = table.getElementsByTagName('tr');
        let ali = new Array();
        for (let r = 0; r < rows.length; r++) {
            let cols = rows[r].getElementsByTagName('input');
            for (let c = 0; c < cols.length; c++)
                if (cols[c].checked)
                    ali.push([c, r])
        }
        $.post('/save/{{ file.name }}/' + sent_idx, {ali: JSON.stringify(ali)}).done(function () {
            $('#saved').removeClass('d-none');
            $('#saving').addClass('d-none');
            $('#modified' + sent_idx).removeClass('d-none');
        });
    }

    let alignments = {{ alignments|tojson }};

    function reload(sent_idx) {
        if (!confirm('Are you sure?'))
            return;
        $('#saved').addClass('d-none');
        $('#saving').removeClass('d-none');
        let table = document.getElementById('sent' + sent_idx).getElementsByTagName('tbody')[0];
        let rows = Array.from(table.getElementsByTagName('tr'));

        Array.from(table.getElementsByTagName('input')).forEach(el => el.checked = false);

        for (let ali of alignments[sent_idx]) {
            let r = ali[1], c = ali[0];
            let cols = rows[r].getElementsByTagName('input');
            cols[c].checked = true;
        }
        $.post('/unsave/{{ file.name }}/' + sent_idx).done(function () {
            $('#saved').removeClass('d-none');
            $('#saving').addClass('d-none');
            $('#modified' + sent_idx).addClass('d-none');
        });
    }

    function edit(lang, sent_idx, word_idx) {
        let word = prompt('Określ status:');
        if (word != null) {
            $('#saved').addClass('d-none');
            $('#saving').removeClass('d-none');
            $.post('/edit/{{ file.name }}/' + lang + '/' + sent_idx + '/' + word_idx, {'word': word}).done(function () {
                $('#c-' + lang + '-' + sent_idx + '-' + word_idx).text(word);
                $('#saved').removeClass('d-none');
                $('#saving').addClass('d-none');
            });
        }
    }
</script>
<div class="m-3">
    <h1 class="m-5">{{ file.name }}
        <span id="saved" class="fs-5 text-success"><i class="bi bi-check2-circle"></i>Saved!</span>
        <span id="saving" class="fs-5 text-warning d-none"><i class="bi bi-cloud-arrow-up-fill"></i>Saving...</span>
    </h1>
    <a href="/">Powrót</a>
    <div class="accordion" id="accordionMain">
        {% for phrase in file.phrases %}
            {% set sent_idx = loop.index0 %}
            {% set lang_from = file.direction[0] %}
            {% set text_from = phrase.words[lang_from] %}
            {% set lang_to = file.direction[1] %}
            {% set text_to = phrase.words[lang_to] %}
            {% set alignment = phrase.alignment %}
            {% if phrase.saved %}
                {% set alignment = phrase.saved %}
                {% set modified = '' %}
            {% else %}
                {% set modified = 'd-none' %}
            {% endif %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ loop.index }}">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ loop.index }}" aria-expanded="false"
                            aria-controls="collapse{{ loop.index }}">
                        <span class="me-5">#{{ loop.index }}</span>
                        <i class="bi bi-hand-index {{ modified }}" id="modified{{ loop.index0 }}"></i>
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="collapse{{ loop.index }}" data-bs-parent="#accordionMain"
                     aria-labelledby="heading{{ loop.index }}">
                    <div class="accordion-body">
                        <button class="btn btn-danger" onclick="reload({{ sent_idx }})">
                            <i class="bi bi-arrow-clockwise"></i> Automatic
                        </button>
                        <button class="btn btn-success" onclick="save({{ sent_idx }})">
                            <i class="bi bi-cloud-arrow-up"></i> Save
                        </button>
                        <table id="sent{{ sent_idx }}">
                            <thead>
                            <tr>
                                {% for word in text_from %}
                                    {% if word.corr %}
                                        <td id="c-{{ lang_from }}-{{ sent_idx }}-{{ loop.index0 }}"
                                            class="edit">{{ word.corr }}</td>
                                    {% else %}
                                        <td id="c-{{ lang_from }}-{{ sent_idx }}-{{ loop.index0 }}" class="edit"></td>
                                    {% endif %}
                                {% endfor %}
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                {% for word in text_from %}
                                    {% if word.hl %}
                                        {% set whi = 'wordhi hicell' %}
                                    {% else %}
                                        {% set whi = '' %}
                                    {% endif %}
                                    <td class="word {{ whi }}" onmouseover="hover(this,true)"
                                        onclick="edit('{{ lang_from }}',{{ sent_idx }},{{ loop.index0 }})">{{ word.orig }}</td>
                                {% endfor %}
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for word in text_to %}
                                {% set j = loop.index0 %}
                                <tr>
                                    {% for i in range(text_from|length) %}
                                        {% if text_from[i].hl or text_to[j].hl %}
                                            {% set hi=' class=hicell' %}
                                        {% else %}
                                            {% set hi='' %}
                                        {% endif %}

                                        {% if [i,j] in alignment %}
                                            {% set chkd='checked' %}
                                        {% else %}
                                            {% set chkd='' %}
                                        {% endif %}
                                        <td{{ hi }}>
                                            <input type="checkbox" {{ chkd }} onclick="save({{ sent_idx }})">
                                        </td>
                                    {% endfor %}
                                    {% if word.hl %}
                                        {% set whi = 'wordhi hicell' %}
                                    {% else %}
                                        {% set whi = '' %}
                                    {% endif %}
                                    <td class="word {{ whi }}" onmouseover="hover(this,false)"
                                        onclick="edit('{{ lang_to }}',{{ sent_idx }},{{ loop.index0 }})">{{ word.orig }}</td>
                                    {% if word.corr %}
                                        <td id="c-{{ lang_to }}-{{ sent_idx }}-{{ loop.index0 }}"
                                            class="edit">{{ word.corr }}</td>
                                    {% else %}
                                        <td id="c-{{ lang_to }}-{{ sent_idx }}-{{ loop.index0 }}" class="edit"></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
